
.tuto{
    align-items: center;
    justify-content: center;

}

.tutoVd{
    
}
.tutoTitle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
    color: #FCDF78;
}