.flex-container{
    display: flex; 
    height: 100%;
    justify-content: center;

    .flex-item-users{
        flex: 3.333;
        margin: 5px;
    }
    .flex-item-posts{
        flex: 3.333;
        background:red;
        margin: 5px;
    }
    .flex-item-other{
        flex: 3.333;
        background:green;
        margin: 5px;
    }
}